{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Report Generator</title>
    <script src="{% static 'view.js'%}"></script>
    <script src="{% static 'jQuery.js'%}"></script>
    <link rel="stylesheet" href="{% static 'view.css' %}" type="text/css" />
</head>

<body id="main_body">
<div id="form_container">

    <!--<form id="form_21026" class="appnitro"  method="post" action="/getcalculation">-->
    <div class="form_description">
        <h2>Stock Report Generator</h2>
    </div>
    <ul>
        <li id="li_2">
            <label class="description" for="element_1">Stock Symbols </label>
            <div>
                <input id="element_1" name="symbol" class="element text medium" type="text" maxlength="255" value="" />
                <button id='addbutton' onclick="addsymbol()" >Add</button>
            </div>
        </li>
        <li id="li_3">
            <div id='symbox' class="symbolbox">

            </div>
        </li>
        <li id="li_4">
            <label class="description" for="element_4">MARR</label>
            <div>
                <input id="element_4" name="marr" placeholder="Enter as 7, if rate is 7%" class="element text medium" type="text" maxlength="255" value="" required/>
            </div>
        </li>
        <li id="li_9">
            <label class="description" for="element_9">MOS </label>
            <div>
                <input id="element_9" name="mos" placeholder="Enter as 7, if rate is 7%" class="element text medium" type="text" maxlength="255" value="" required/>
            </div>
        </li>
        <li class="buttons">
            <input type="hidden" name="form_id" value="21026" />

            <button style="padding: 6px 23px;" onclick="getcalculatedresult()">Generate Report</button>
            <button id='displaytree' onclick="showTree()" style="margin-left:65%;display: none">Display Tree</button>
        </li>
        <li id='downloadbutton' style="display: none">
            <button><a id="download" style="text-decoration: none" href="">Download Report</a></button>
        </li>
    </ul>
</div>
<script>
    var num = 1;
    var report;
    function addsymbol() {
        var id = 'sym' + num++;
        var s = '<div class="symbackground">\n' +
            '<span class="symspan">'+document.getElementById('element_1').value+'</span>\n' +
            '<span id="'+ id + '" class=\'symcross\' onclick="remove(\''+id +'\')">X</span>\n' +
            '</div>';
        $(s).appendTo('#symbox');
        $('#element_1').val('');
    }
    function remove(idval) {
        $('#'+idval).parent().remove();
    }
    function getcalculatedresult() {
        var symsele = $('.symspan');
        var symsval = [];
        var req = {}
        for (var i=0; i < symsele.length;i++) {
            symsval.push($(symsele[i]).text());
        }
        req['syms'] = symsval;
        req['marr'] = document.getElementById('element_4').value;
        req['mos'] = document.getElementById('element_9').value;
        console.log(req);
        $.ajax({
            url: "/createreport/",
            type: "POST",
            data: JSON.stringify(req),
            contentType:"application/json; charset=utf-8",
            dataType:"json"
        }).done(function(res){
            report = res;
            if (report.status == 200) {
                $('#downloadbutton').show();
                $('#download').attr('href', report.url);
            }
            else {
                alert("The report can't be generated this time");
            }
            console.log(report);
        });
    }
    $("#element_1").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#addbutton").click();
        }
    });
</script>
</body>
</html>