{% extends 'stockapp/index.html' %}
{% block content %}
<div>
    <li id='downloadbutton'>
        <button><a id="download" style="text-decoration: none" onclick="downloadreport()" href="">Download Report</a></button>
    </li>
</div>
<div id="report">
    <div>
        <div id="eps">
            {{eps | safe}}
        </div>
        <div id="ops">
            {{ops | safe}}
        </div>
        <div id="sales">
            {{sales | safe}}
        </div>
    </div>
    <div>
        <div id="bvps">
            {{bvps | safe}}
        </div>
        <div>
            <p>
                Companies that have been able to sustain compounded annual growth rates of over 10% per year in EPS, OPS, Sales, and BVPS are considered to have a durable moat.  The competitive Moat keeps competition at bay and allows these companies to grow at above average rates. Looking at the Growth Rates you have calculated, does this company have a Moat? Are all these growth rates similar? Reliable companies are ones where EPS, OPS, Sales, and BVPS, all grow at a similar rate.
            </p>
        </div>
    </div>
    <div>
        <h3>Management Analysis</h3>
        <div id="roicbar">

        </div>
        <div>
            Companies that have high a high ROIC are one's that efficiently use the capital that they have raised in order to grow the business.  Look at the ROIC of a company over time. Is it stable or increasing? If ROIC is greater than 10% over time it demonstrates the effectiveness of the management team and their ability to run and grow the firm.
        </div>
        <div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div id="roebar"></div>
        <div><p>ROE is the return that shareholders are receiving on their invested capital. (Shareholder's Equity). Shareholders expect ROE to be stable or increasing. Companies that have a ROE of greater than 10% over time, demonstrate the effectiveness of management in increasing the value of  shareholders equity. Be aware of companies that have a high ROE but low growth rates. This can mean that management is artificially supporting ROE, which is commonly used as a measure of management quality.</p></div>
        <div><h3>Debt Analysis</h3></div>
        <div id="debtbar"></div>
        <div><p>The Debt to Earnings Ratio demonstrates the amount of years it would take the company to pay off its current Long Term Debt if it used the current level of earnings.  Companies that have a Debt to Earnings Ratio of less than 3 years are considered stable because they do not have a large amount of interest expense or debt to service. Companies with Zero debt are considered less risky because they have the ability to raise debt capital should it be necessary to avoid unforeseen market or business issues. Analysts should look at both the Debt to Earnings Ratio and the level of Debt over time to see if it has increased or decreased.</p></div>
        <div></div>
    </div>
</div>
<script>
    function downloadreport() {

    }
</script>
{{script_eps|safe}}
{% endblock %}